#root
  > div
  > div
  > main
  > div
  > div.md\:col-span-3.order-1
  > div
  > div:nth-child(2)
  > div:nth-child(1)
  > div
  > a
  > img {
  margin: 29px 0 !important;
}

#root
  > div
  > div
  > main
  > div
  > div.md\:col-span-3.order-1
  > div
  > div:nth-child(3)
  > div:nth-child(1)
  > div
  > a
  > img {
  margin: 16px 0 !important;
}

@media (max-width: 1000px) {
  #root
    > div
    > div
    > main
    > div
    > div.md\:col-span-3.order-1
    > div
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > a
    > img {
    margin: 14px 0 !important;
  }

  #root
    > div
    > div
    > main
    > div
    > div.md\:col-span-3.order-1
    > div
    > div:nth-child(3)
    > div:nth-child(1)
    > div
    > a
    > img {
    margin: 10px 0 !important;
  }
}
